div{
  margin:0;
  padding:0;
}
center {
    display: block;
    text-align: -webkit-center;
}
ul .Anmelden{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}
li .Anmelden{
  float: right;
}
li a .Anmelden{
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px
  text-decoration: none;
}
li a .Anmelden :hover:not(.active){
  color: white
  background-color: #ddd;
}
li a.active .Anmelden{
  color: white;
  background-color: #4CAF50;
}
footer{
  margin: 0;
  padding: 0;
  -webkit-center-radius
}

.Unternehmen{
  float: center;
}
nav .schweiz .nav .Unternehmen{
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px
  text-decoration: none;

}
.google-img{
  box-sizing: border-box;
  margin: auto;
  padding: auto;
  border: auto;
}
